
# Linux Object Files
src/*.o
lib/linux/*
bin/linux/*


# Prebuilt OSX Executables
lib/osx64/*
bin/osx64/*


# Xcode Specific Files
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.moved-aside
/.vs/cyclone_vc10/v15/ipch/AutoPCH/CYCLONEAPP-2eaa4b8f/TIMING-c029ae80
/.vs/cyclone_vc10/v15/ipch/AutoPCH/CYCLONEAPP-2eaa4b8f/TIMING-c029ae80
/.vs/cyclone_vc10/v15
/tmp/sailboat/Debug
/tmp/sailboat/sailboat.tlog
/tmp/sailboat/sailboat.log
/tmp/sailboat/vc141.pdb
/tmp/ragdoll/Debug
/tmp/ragdoll/vc141.pdb
/tmp/ragdoll/ragdoll.tlog
/tmp/ragdoll/ragdoll.log
/build/tmp
/build/vs2017/.vs/cyclone_vc10/v15
/build/vs2017
/build/tmp
/cyclone/Debug
/cyclone/Release
/cycloneapp/Release/cycloneapp.tlog
/cycloneapp/Release
/cycloneapp/Debug
/cycloneapp_/Release/cycloneapp.tlog
/cycloneapp_/Release
/cyclone_
/Debug
/tmp/ballistic/ballistic.tlog
/tmp/ballistic/Debug
/tmp/ballistic/vc141.pdb
/tmp/ballistic/ballistic.log
/tmp/bigballistic/bigballistic.tlog
/tmp/bigballistic/Debug
/tmp/blob/blob.tlog
/tmp/blob/Debug
/tmp/bridge/bridge.tlog
/tmp/bridge/Debug
/tmp/explosion/Debug
/tmp/fireworks/Debug
/tmp/flightsim/Debug
/tmp/fracture/Debug
/tmp/flightsim/flightsim.tlog
/tmp/platform/Debug
/tmp/fracture/fracture.tlog
/tmp/fracture/vc141.pdb
/tmp/fracture/fracture.log
/tmp/flightsim/vc141.pdb
/tmp/flightsim/flightsim.log
/tmp/platform/platform.tlog
/tmp/platform/vc141.pdb
/tmp/platform/platform.log
/cycloneapp_/Debug
/cycloneapp_
/tmp/fireworks/fireworks.tlog
/tmp/fireworks/vc141.pdb
/tmp/fireworks/fireworks.log
/tmp/explosion/vc141.pdb
/tmp/explosion/explosion.tlog
/tmp/explosion/explosion.log
/tmp/bridge/vc141.pdb
/tmp/bridge/bridge.log
/tmp/blob/vc141.pdb
/tmp/blob/blob.log
/tmp
/Release
/Lines_2017_7_8_18_24.txt
/Lines_2017_7_8_22_11.txt
/Lines_2017_7_9_0_8.txt
